<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Tfs Viewer - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Tfs Viewer", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_ConfigurePartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Export Tasks", "ExportTasks", "Report")</li>
                        <li>@Html.ActionLink("Project Report", "ProjectReport", "Report")</li>
                        <li>@Html.ActionLink("View Tasks", "Index", "Report")</li>
                        <li>@Html.ActionLink("Unplanned tasks", "UnplannedTasks", "Report")</li>
                        <li>@Html.ActionLink("Query Report", "Index", "Query")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Tfs Viewer - powered by SWAT &reg;</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
